/* nav {
    margin: auto;
    width: 70vw;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.one {
    margin: 2px;
    border: 1px solid red;
    padding: 8px;
}
.two {
    margin: 2px;
    border: 1px solid red;
    padding: 8px;
}
.three {
    margin: 2px;
    border: 1px solid red;
    padding: 8px;
} */